@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(0, 255, 162);
    color: rgb(248, 5, 231);
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/background.png);
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: white;
    margin: 100px auto 0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.container h2 {
    font-size: 64px;
    font-weight: 300;
    margin-top: 60px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons img {
    width: 50px;
    margin: 0 20px;
}

.buttons img:nth-child(2) {
    width: 80px;
}